<% if obj.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			<%= "#{obj.errors.count} λάθη εμπόδισαν την υποβολη αυτής της φόρμας." %>
		</div>
		<ul>
			<% obj.errors.messages.each do |attribute, msg| %>
				<% msg.each do |m| %>		
					<li>
						* <%= t attribute, scope: "activerecord.attributes.#{obj.class.name.downcase}" %>:
						 	 <%=  m %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end%>