<h1 class="tac">Ατομικός Παιδιατρικός Φάκελος</h1>
<p class="tac">Καλώς ορίσατε στην εφαρμογή Ατομικού Παιδιατρικού Φακέλου για παιδιά!</p>

<hr>

<div class="offset2">
	<div class="tac span4">
		<h3><i>Είστε γονέας;</i></h3>
		<%= link_to 'Είσοδος γονέα', '', class: 'btn btn-primary' %> <i>ή</i> <br>
		<%= link_to 'Εγγραφή', new_parent_path %>

	</div>

	<div class="tac span4">
		<h3><i>Είστε ειδικός υγείας;</i></h3>
		<%= link_to 'Είσοδος Ειδικού Υγείας', '', class: 'btn btn-primary' %> <i>ή</i> <br>
		<%= link_to 'Εγγραφή', '' %>
	</div>
</div>

